<!DOCTYPE html>
<html>
<head>
    <title>Smart Honeypot Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>Smart Honeypot Dashboard</h1>
<h3>Live Attacker Intelligence</h3>

<!-- CARDS -->
<div class="cards">
    <div class="card">
        <h4>Total Attacks</h4>
        <h2>{{ total }}</h2>
    </div>

    <div class="card">
        <h4>High Risk</h4>
        <h2 class="high">{{ high }}</h2>
    </div>
</div>

<!-- TABLE -->
<div class="table-container">
<h3>Recent Attack Logs</h3>

<table>
<tr>
    <th>Username</th>
    <th>Password</th>
    <th>IP</th>
    <th>Risk</th>
</tr>

{% for row in logs %}
<tr class="log-row" data-risk="{{ row[5] }}" onclick="highlightRow(this)">
    
    <!-- Username -->
    <td onclick="showLocationOnMap('{{ row[3] }}')">
        {{ row[1] }}
    </td>

    <!-- Password -->
    <td onclick="showLocationOnMap('{{ row[3] }}')">
        {{ row[2] }}
    </td>

    <!-- IP -->
    <td class="ip" onclick="showLocationOnMap('{{ row[3] }}')">
        {{ row[3] }}
    </td>

    <!-- Risk -->
    <td class="{{ row[5] }}" onclick="showLocationOnMap('{{ row[3] }}')">
        {{ row[5] }}
    </td>

</tr>
{% endfor %}

</table>
</div>

<!-- ✅ MAP (OUTSIDE TABLE — IMPORTANT) -->
<div id="mapContainer" style="margin-top:20px; text-align:center;">
    <h3>Attacker Location</h3>
    <p id="locationText" style="color:white;"></p>
    <iframe id="mapFrame" width="600" height="350" style="border:0; border-radius:10px;"></iframe>
</div>

<!-- CHARTS -->
<div class="charts">
    <div class="chart-box">
        <canvas id="lineChart"></canvas>
    </div>

    <div class="chart-box">
        <canvas id="pieChart"></canvas>
    </div>
</div>

<!-- DOWNLOAD BUTTON -->
<button class="download-btn" onclick="downloadCSV()">Download Logs</button>
<!-- DATA FOR CHART -->
<script id="chart-data" type="application/json">
{
    "labels": {{ labels | default([]) | tojson }},
    "values": {{ values | default([]) | tojson }}
}
</script>
<script id="alert-data" type="application/json">
{{ suspicious_ips | default([]) | tojson }}
</script>

<!-- JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>